{% extends "base.html" %}

{% block content %}
<h1>Добавление поста</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.label.label }}<br>
        {{ form.label(class="form-control") }}<br>
        {% for error in form.label.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.sublabel.label }}<br>
        {{ form.sublabel(class="form-control") }}<br>
        {% for error in form.sublabel.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}