{% extends "base.html" %}

{% block content %}
<h1>Поиск людей по имени</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% if users %}
<h2>Результаты поиска:</h2>
{% for user in users %}
<div class="card d-flex flex-row align-items-center p-3">
            {% if user.avatar %}
                <img src="{{ user.avatar }}" alt="Аватар" class="border rounded" style="width: 100px; height: 100px; object-fit: cover;">
            {% endif %}

            <div class="flex-grow-1">
                <h5 class="mb-0">{{ user.nickname }}</h5>
                <div class="alert alert-info" role="alert">
                <h6>
                {{ user.message_for_other or "Пока нет информации" }}
                </h6> 
                </div> 
                <a href="/user/{{ user.nickname }}" class="text-decoration-none text-muted">Перейти в профиль</a>
            </div>
        </div>
    </div>
{% endfor %}
{%endif%}
{% endblock %}