{% extends "base.html" %}

{% block content %}
{% if user.avatar%}
    <img src="{{ user.avatar }}" class="img-fluid rounded">
{% endif %}
<h1>Страница {{ user.nickname }}</h1>

{% if current_user.is_authenticated and current_user.nickname == user.nickname %}
    <a href="/post_a_post" class="btn btn-secondary">Написать пост</a>
    <a href="/user/edit" class="btn btn-info">Изменить информацию</a>
{% endif %}

{% if current_user.is_authenticated %}
    {% if not user.page_are_private and current_user.nickname != user.nickname %}
        {% if not sub %}
            <a href="/subscritions/add/{{ user.nickname }}" class="btn btn-success">Подписаться</a>
        {% else %}
            <a href="/subscritions/del/{{ user.nickname }}" class="btn btn-danger">Отписаться</a>
        {% endif %}
    {% elif current_user.nickname == user.nickname%}
        <h3>Информация о себе:</h3>
        <div class="alert alert-info" role="alert">
            {{ user.message_for_other or "Пока нет информации" }}
        </div>  
    {% endif %}
{% endif %}

<h2>Посты {{ user.nickname }}:</h2>

{% if (posts and not user.page_are_private) or current_user.nickname == user.nickname%}
    {% for item in posts %}
        {% if not item.is_private or current_user.nickname == user.nickname%}
            <div class="col-md-6 border rounded mb-3">
                <h2>{{ item.label }}</h2>
                {% if item.sublabel %}
                    <h3>{{ item.sublabel }}</h3>
                {% endif %}
                {% if item.additions %}
                    {% set url = item.additions | lower %}

                    {% if url.endswith('.jpg') or url.endswith('.jpeg') or url.endswith('.png') or url.endswith('.gif') %}
                    <div class="mb-3">
                        <img src="{{ item.additions }}" alt="Медиа к посту" class="img-fluid rounded" style="max-height: 400px;">
                    </div>
    
                    {% elif url.endswith('.mp4') or url.endswith('.webm') or url.endswith('.mov') %}
                        <video controls class="img-fluid rounded" style="max-height: 400px;">
                        <source src="{{ item.additions }}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    {% elif url.endswith('.mp3') or url.endswith('.wav') or url.endswith('.ogg') %}
                        <audio controls class="w-100">
                        <source src="{{ item.additions }}" type="audio/mpeg">
                            Ваш браузер не поддерживает аудио.
                        </audio>
                    {% endif %}
                {% endif %}
                <div>{{ item.text }}</div>
                {% set avatar = avatars.get(item.writer) %}
                {% if avatar %}
                    <p><a href="user/{{item.writer}}" title="Ссылка на автора"><img src="{{ avatar }}" alt="Аватар" style="width: 40px; height: 40px; object-fit: cover;"> {{item.writer}} </a></p>
                {% else %}
                    <p><a href="user/{{item.writer}}" title="Ссылка на автора">{{item.writer}}</a></p>
                {% endif %}
                {% if (current_user.is_authenticated and current_user.nickname == item.writer) or (current_user.position_in_access == "Hunt" or current_user.position_in_access == "Admin") %}
                    <div>
                        <a href="/edit_post/{{ item.id }}" class="btn btn-warning">Изменить</a>
                        <a href="/post_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="col-md-6 border rounded">
        <h2>Пока постов нет или они скрыты</h2>
    </div>
{% endif %}
{% endblock %}